<h1>模板分类</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>名称</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cates.each do |cate| %>
      <tr>
        <td><%= cate.name %></td>
        <td><%= link_to '修改', edit_cate_path(cate) %></td>
        <td><%= link_to '删除', cate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '添加分类', new_cate_path, class: 'btn btn-lg btn-primary' %>
